<?nl.markv.demo.javafullstack.client.SearchInputComponent?>
<div id="search-box">
    <form class="form-inline">
        <div class="form-group mb-2">
            <input type="text" attr:placeholder="getPlaceholder()"/>
        </div>
        <button type="submit" event:click="search()" class="btn btn-primary mb-2">Search</button>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div>
        </div>
    </form>
</div>
